.btn {
  width: 15%;
  height: auto;
  min-width: 48px;
  min-height: 48px;
  color: $btn-textcolor;
  border: none;
  border-radius: 5px;
  outline: none;

  &:hover {
    cursor: pointer;
  }

}

.icon {
  fill: white;

  &:hover,
  :focus {
    fill: green;
  }
}